#!/bin/bash
cd /opt/stack/tiwork/trove-integration/scripts; 
export PATH_DEVSTACK_SRC=/opt/stack/devstack
{% if neutron %}
export ENABLE_NEUTRON=true
{% else %}
export ENABLE_NEUTRON=false
{% endif %}

export HOST_IP={{ vm_host_ip }}

export REBUILD_IMAGE=true
./redstack kick-start $1